<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

  </head>
  <body>
    <h1>message : <%= text %></h1>
    <h1>time : <%= time %></h1>
  </body>
</html>